.git
.gitignore
.github
*.md
!README.md

server/target
server/.cpcache
server/node_modules
server/mdbrain.db
server/.nrepl-port
server/test-results
server-go/target
server-go/data

obsidian-plugin
vault

Dockerfile
docker-compose*.yml
.dockerignore
.env*

*.log
*.zip
.DS_Store
