<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Mdbrain{% endblock %}</title>
  {% if description %}<meta name="description" content="{{ description }}">{% endif %}
  {% if vault.favicon-version %}
  <link rel="icon" href="/favicon.ico?v={{ vault.favicon-version }}">
  {% else %}
  <link rel="icon" type="image/png" href="/publics/shared/images/favicon.png">
  {% endif %}
  <link rel="stylesheet" href="/publics/app/css/app.css">
  <link rel="stylesheet" href="/publics/app/css/highlight-github-dark.min.css">
  <link rel="stylesheet" href="/publics/app/katex/katex-swap.min.css">
  {{ vault.custom-head-html|safe }}
</head>
<body>
  <div id="app">
    <header class="navbar">
      <div class="navbar-content px-4 md:px-8">
        <div class="navbar-left">
          <a href="/" class="navbar-logo">
            {% if vault.logo-url %}<img src="{{ vault.logo-url }}" alt="{{ vault.name }}" class="navbar-logo-img">{% endif %}
            <span>{{ vault.name|default:"Mdbrain" }}</span>
          </a>
        </div>
        <div class="navbar-right">
          <small class="navbar-link">Powered by <a href="https://github.com/blackstorm/mdbrain" target="_blank">Mdbrain</a></small>
        </div>
      </div>
    </header>
    {% block content %}{% endblock %}
  </div>
  <script src="/publics/app/js/highlight.min.js"></script>
  <script src="/publics/app/katex/katex.min.js"></script>
  <script src="/publics/shared/htmx.min.js"></script>
  <script src="/publics/app/js/app.js"></script>
</body>
</html>
